#{extends 'main.html' /}
#{set 'moreScripts'}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="http://www.jquery4u.com/scripts/function-demos-script.js"></script>
 
    <script type="text/javascript">
 
 
   /* var JQFUNCS =
    {
        runFunc:
        {
            "jsonp":
            {
                run: function(id)
                {
                    var demobox = $('#'+id);
                    demobox.html('<img id="loading" src="@{'/public//images/loading.gif'}">');
                    $.getJSON("http://api-heroku.com.herokuapp.com/chatter?jsoncallback=?",
                    {
                      key: 
                    },
                    function(data) {
                      demobox.html("<div class='alert alert-success'>Fedex Rate:<b>"+data"</b></div>");
                      $('#' + id + ' #loading').hide();
                    });
                },
 
                reset: function(id)
                {
                 	demobox.empty();   
                }
            }
        }
    }
    */
    
    function getCookie(c_name)
	{
		var i,x,y,ARRcookies=document.cookie.split(";");
		for (i=0;i<ARRcookies.length;i++)
		{
		  x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
		  y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
		  x=x.replace(/^\s+|\s+$/g,"");
		  if (x==c_name)
		  {
		    return unescape(y);
		  }
		}
	}
    alert("Cookie value is"+getCookie("chatter_key"));
 
    </script>
#{/set} 

<div class="row well">
<div class="span8 offset-2">
<p class="example">Demo: JSON P to load data from Chatter</p>
<p><a href="#" id="jsonp-demobtn" class="demobtn btn actionr btn-success btn large">Get Chatter Data</a> 
<a href="#" id="jsonp-resetbtn" class="resetbtn btn btn-danger actionr" style="display: none;">Reset</a></p>
<div class="demoarea" id="jsonp" style="display:inline-block" class="well span8 offset-2"></div>
</div> 
</div>